@import "tailwindcss";

@theme {
  --font-primary: "Poppins", "sans-serif";
  --font-secondary: "Roboto", "sans-serif";

  --color-primary: #000000;
  --color-secondary: #969696;

  --primary-background-color: #ffffff;
  --secondary-background-color: #f0f0f0;

  --border-color: #ccc;
  --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f0f0f0;
  height: 100vh;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.7fr 3.3fr;
  width: 100%;
}
li {
  list-style: none;
  text-decoration: none;
}
