.sidebar {
  background-color: #fff;
  border-right: 2px solid #ccc;
}
.sidebar h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
/* Cart */
.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
/* Category Design */
.categories-container,
.price-container,
.color-container {
  padding: 20px 40px;
}
.categories {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}
#category-label,
#price-label,
#color-label {
  margin-left: 5px;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
}
